@model List<DatabaseProvider.CartItem>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<div class="sanpham sub">
    <h2>Giỏ Hàng</h2>
    <table class='myTable'>
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><img width="100px" src="~/Content/hinh/@item.Hinh" /></td>
                <td><label>@item.ProductName</label></td>
                <td><label> @item.Price.ToString("N0") VNĐ</label></td>
                <td>
                    <input type="number" value="@item.Quantity" min="1" class="update-quantity" data-id="@item.ProductId" />
                </td>
                <td id="gia">@item.TotalPrice.ToString("N0") VNĐ</td>
                <td>
                    <button class="btn btn-danger remove-item" data-id="@item.ProductId">Xóa</button>
                </td>
            </tr>
        }
    </table>
    <center>
        <table class='table'>
            <tr>
                <td><button class="btn btn-warning" id="clear-cart">Xóa giỏ hàng</button></td>
                <td width="100px"></td>
                <td><button class="btn btn-warning" id="dathang">Đặt hàng</button></td>

            </tr>
        </table>
    </center>
</div>
    <script>
    $(document).ready(function () {
            // Cập nhật số lượng
        $(".update-quantity").change(function () {
                var productId = $(this).data("id");
                var quantity = $(this).val();
                $.get("/Cart/UpdateCart", { productId: productId, quantity: quantity });
            
            });

            // Xóa sản phẩm
            $(".remove-item").click(function () {
                var productId = $(this).data("id");
                $.get("/Cart/RemoveFromCart", { productId: productId }, function () {
                    location.reload();
                });
            });

            // Xóa toàn bộ giỏ hàng
            $("#clear-cart").click(function () {
                $.get("/Cart/ClearCart", function () {
                    location.reload();
                });
            });
        });</script>
