
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model List<DatabaseProvider.casi>
<main id="main" class="">
    <div id="content" role="main" class="content-area">

        <section class="section thoi-trang-nam" id="section_1724445212">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div>
            <div class="section-content relative">
                <div id="gap-1170567910" class="gap-element clearfix" style="display:block; height:auto;">
                </div>
                <div class="row row-small tieu-de" id="row-2141349420">
                    <div id="col-721859379" class="col cot3 medium-3 small-12 large-3">
                        <div class="col-inner">
                            <div class="category-title">
                                <h2 class="left" style="text-align: center;"><a href="do-gia-dung-tien-ich/index.htm"></a></h2>
                            </div>
                            <ul class="sidebar-wrapper ul-reset">
                                <li id="nav_menu-6" class="widget widget_nav_menu">
                                    <div class="menu-thoi-trang-nam-container">
                                        <ul id="menu-thoi-trang-nam" class="menu">
                                            <li id="menu-item-495" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-495"><a href="#"><img width="70" height="70" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2070%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src=" ~/Content/wp-content/uploads/2018/12/Icon-do-dung-nha-bep-1.png" class="lazy-load _mi _before _image" alt="" loading="lazy" aria-hidden="true"><span></span></a></li>
                                            <li id="menu-item-496" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-496"><a href="#"><img width="70" height="70" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2070%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src=" ~/Content/wp-content/uploads/2018/12/I-con-do-dung-phong-tam-1.jpg" class="lazy-load _mi _before _image" alt="" loading="lazy" aria-hidden="true"><span></span></a></li>
                                            <li id="menu-item-497" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-497"><a href="#"><img width="70" height="70" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2070%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src=" ~/Content/wp-content/uploads/2018/12/Icon-do-dung-phong-ngu-1.jpg" class="lazy-load _mi _before _image" alt="" loading="lazy" aria-hidden="true"><span></span></a></li>
                                            <li id="menu-item-498" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-498"><a href="#"><img width="70" height="70" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2070%2070%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src=" ~/Content/wp-content/uploads/2018/12/Icon-trang-tri-1.jpg" class="lazy-load _mi _before _image" alt="" loading="lazy" aria-hidden="true"><span></span></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_529341123">
                                <div class="img-inner image-cover dark" style="padding-top:162%;">
                                    <img width="218" height="341" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20218%20341%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src=" ~/Content/wp-content/uploads/2018/12/Poster-do-gia-dung-1.jpg" class="lazy-load attachment-original size-original" alt="Bán buôn bán lẻ đồ gia dụng" loading="lazy" srcset="" data-srcset=" ~/Content/wp-content/uploads/2018/12/Poster-do-gia-dung-1.jpg 218w,  ~/Content/wp-content/uploads/2018/12/Poster-do-gia-dung-1-192x300.jpg 192w" sizes="(max-width: 218px) 100vw, 218px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="col-480302286" class="col sub-menu medium-9 small-12 large-9">
                        <div class="col-inner text-right">

                            <div class="tabbed-content">

                                <ul class="nav nav-line-grow nav-normal nav-size-normal nav-right">

                                    <li class="tab active has-icon"><a href="#tab_tất-cả"><span>@ViewBag.Title</span></a></li>

                                    <li class="tab has-icon"><a href="#tab_nhà-bếp"><span></span></a></li>
                                    <li class="tab has-icon"><a href="#tab_nhà-tắm"><span></span></a></li>
                                    <li class="tab has-icon"><a href="#tab_phòng-ngủ"><span></span></a></li>
                                </ul>
                                <div class="tab-panels">
                                    <div class="panel active entry-content" id="tab_tất-cả">
                                        <div class="row large-columns-4 medium-columns-3 small-columns-2 row-small has-shadow row-box-shadow-2-hover">

                                            <div class="adminn">


                                                <script src="~/Scripts/jquery-3.7.1.min.js"></script>

                                                <div class="sanpham sub">
                                                    <center>
                                                        <table width="600px">
                                                            <tr>
                                                                <td>
                                                                    <fieldset>
                                                                        <legend class="dinhdang">CẬP NHẬT CA SĨ</legend>
                                                                        <center>
                                                                            <table width="600px">

                                                                                <tr>
                                                                                    <td class="dinhdang">Tên Ca Sĩ *</td>
                                                                                    <td>
                                                                                        <input id="TenCs" type="text" name="TenCs" size="50">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td class="dinhdang">Quốc Gia</td>
                                                                                    <td>
                                                                                        <select id="quocgia" name="quocgia">
                                                                                            <option value="">-- Chọn Quốc Gia --</option>

                                                                                            <option value="Việt Nam">Việt Nam</option>
                                                                                            <option value="Trung Quốc">Trung Quốc</option>
                                                                                            <option value="Hàn Quốc">Hàn Quốc</option>
                                                                                            <option value="Nhật">Nhật</option>
                                                                                            <option value="Mỹ">Mỹ</option>
                                                                                            <option value="Anh">Anh</option>
                                                                                            <option value="Pháp">Pháp</option>
                                                                                            <option value="Ý">Ý</option>
                                                                                            <option value="Brazil">Brazil</option>

                                                                                        </select>
                                                                                    </td>
                                                                                </tr>
                                                                                
                                                                               
                                                                                <tr>
                                                                                    <td class="dinhdang">Hình *</td>
                                                                                    <td>
                                                                                        <input id="hinh" type="file" name="hinh" size="50">
                                                                                    </td>
                                                                                </tr>
                                                                                
                                                                                <tr>
                                                                                    <td colspan="2" align="center">
                                                                                        </br><p id="tb" style="border-color:red;border:solid; display:none"> </p>
                                                                                        <center> <button type="button" onclick="AddNew()" class="btn btn-warning">Thêm</button></center>
                                                                                    </td>

                                                                                </tr>
                                                                            </table>
                                                                        </center>
                                                                    </fieldset>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <div>
                                                            @Html.ActionLink("Back to List", "Index")
                                                        </div>
                                                    </center>
                                                    <center>
                                                        <h2> DANH SÁCH CA SĨ</h2>
                                                        <table class='myTable' id="tbdm">
                                                            <tr>
                                                                <th> STT</th>
                                                                <th> Tên Ca Sĩ</th>
                                                                <th> Hình</th>
                                                                <th> Quốc Gia</th>
                                                                <th>Sửa</th>
                                                                <th>Xóa</th>
                                                            </tr>
                                                            @{ var i = 0;}
                                                            @foreach (DatabaseProvider.casi item in Model)
                                                            {
                                                                i = i + 1;
                                                                <tr>
                                                                    <td>@i</td>
                                                                    <td>@item.TenCs</td>
                                                                    <td><img width="30" height="30" src="~/Content/hinh/@item.Picture"></td>
                                                                    <td>@item.QuocGia</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-warning">Sửa</button>
                                                                    </td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-info" onclick=\"return confirm('Bạn thật sự muốn xóa Khóa Học này?')\">Xóa</button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </table>
                                                        <input id="sl" type="hidden" name="txtBan" value="@i">
                                                    </center>
                                                </div>
                                                <script>
                                                    function AddNew() {
                                                        var TenCs = $('#TenCs').val();
                                                        var QuocGia = $('#quocgia').val();
                                                        
                                                        var hinh = $('#hinh')[0].files[0];
                                                        var hinh2 = $('#hinh').val();
                                                        
                                                        if (TenCs == '') {
                                                            $('#tb').html('Phải nhập tên Bài Hát, không được để trống');
                                                            $('#tb').css('border-color', 'red');
                                                            $('#tb').css('color', 'red');
                                                            $('#tb').css('display', 'block');
                                                            return;
                                                        }
                                                        if (hinh2 == '') {
                                                            $('#tb').html('Phải thêm Hình Bài Hát');
                                                            $('#tb').css('border-color', 'red');
                                                            $('#tb').css('color', 'red');
                                                            $('#tb').css('display', 'block');
                                                            return;
                                                        }
                                                        
                                                        //alert("tới đây ok 1");
                                                        var form = new FormData();
                                                        form.append("TenCs", TenCs);
                                                        form.append("QuocGia", QuocGia);
                                                        form.append("Image", hinh);
                                                        
                                                        var xhr = new XMLHttpRequest();
                                                        xhr.open("POST", '/Admin/SaveCaSi', true);

                                                        xhr.onreadystatechange = function () {
                                                            if (xhr.readyState == 4 && xhr.status == 200) {
                                                                var content = xhr.responseText;
                                                                var json_ct = JSON.parse(content);

                                                                if (json_ct.Data.status == "OK") {
                                                                    var i = $('#sl').val() * 1 + 1;
                                                                    $('#sl').val(i);
                                                                    location.reload();
                                                                } else {
                                                                    $('#tb').html(json_ct.Data.message);
                                                                    $('#tb').css('border-color', 'red');
                                                                    $('#tb').css('color', 'red');
                                                                    $('#tb').css('display', 'block');
                                                                }
                                                            }
                                                        }
                                                        xhr.send(form);

                                                    }
                                                </script>



                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <style>
                            #col-480302286 > .col-inner {
                                padding: 0px 0px 0 0px;
                                margin: 0px 0px 0 0px;
                            }
                        </style>
                    </div>



                    <style>
                        #row-2141349420 > .col > .col-inner {
                            padding: 0px 0px 0 0px;
                        }
                    </style>
                </div>
            </div>


            <style>
                #section_1724445212 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    background-color: rgb(239, 239, 239);
                }
            </style>
        </section>





    </div>

</main><!-- #main -->
